In [2]:
import pandas as pd

In [3]:
# change the runtime to t4 gpu - python3
# check all the libraries available in google colab - !pip list
# the below data is customer churn prediction

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/sagnikghoshcr7/Bank-Customer-Churn-Prediction/master/Churn_Modelling.csv')

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [7]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'],inplace = True)

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [10]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [11]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [12]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True) # drop_first - drop any one category

In [13]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [14]:
x=df.drop(['Exited'],axis=1) # independent data

In [15]:
len(x.columns)

11

In [16]:
y=df['Exited'] # exited - dependent variable

In [17]:
import tensorflow
from tensorflow import keras

In [18]:
from tensorflow.keras import Sequential # for forward and backward propogation sequential library is used
from tensorflow.keras.layers import Dense

In [19]:
len(x.columns)

11

In [20]:
model=Sequential() # create object of sequential
model.add(Dense(11,activation ='sigmoid',input_dim=11))# first hidden layer with input dimension
model.add(Dense(11,activation ='sigmoid'))# second hidden layer
model.add(Dense(1,activation ='sigmoid'))# output layer

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                132

 dense_1 (Dense)             (None, 11)                132

 dense_2 (Dense)             (None, 1)                 12

=================================================================
Total params: 276
Trainable params: 276
Non-trainable params: 0
_________________________________________________________________

In [22]:
# i/p | HL1 | HL2 | o/p
#  11 | 11  | 11  | 1
# 11*11 + 11(bias) + 11*11+11(bias) + 11*1+1
# 132 + 132 + 12
# 276 - Trainable parameters

In [23]:
model=Sequential()
model.add(Dense(9,activation ='sigmoid',input_dim=11))# first hidden layer with input dimension
model.add(Dense(11,activation ='sigmoid'))# second hidden layer
model.add(Dense(1,activation ='sigmoid'))# output layer

In [24]:
# i/p | HL1 | HL2 | o/p
#  11 | 9 | 11  | 1
# 11*9 + 9(bias) + 9*11+11(bias) + 11*1+1
# 108 + 110 + 12
# 230 - Trainable parameters

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2 , random_state=0)

In [26]:
from sklearn.preprocessing import StandardScaler # we are using gradient descent optimiser so here we need to scale the data
scaler = StandardScaler()
x_train_tf = scaler.fit_transform(x_train)
x_test_tf = scaler.fit_transform(x_test)

In [27]:
model.compile(optimizer='Adam' ,loss= 'binary_crossentropy', metrics=['accuracy'])

In [28]:
history = model.fit(x_train_tf,y_train,epochs=100,verbose=1)

Epoch 1/100
250/250 [==============================] - 6s 3ms/step - loss: 0.5106 - accuracy: 0.7960
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4859 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4632 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4435 - accuracy: 0.7970
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4327 - accuracy: 0.8054
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4278 - accuracy: 0.8105
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4246 - accuracy: 0.8110
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4214 - accuracy: 0.8134
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4181 - accuracy: 0.8158
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4145 - accuracy: 0.8183
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4109 - accuracy: 0.8220
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4073 - accuracy: 0.8249
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4036 - accuracy: 0.8274
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4002 - accuracy: 0.8298
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3968 - accuracy: 0.8320
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3934 - accuracy: 0.8334
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3902 - accuracy: 0.8353
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3871 - accuracy: 0.8380
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3842 - accuracy: 0.8401
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3813 - accuracy: 0.8416
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3788 - accuracy: 0.8436
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3763 - accuracy: 0.8453
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3740 - accuracy: 0.8466
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3718 - accuracy: 0.8480
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3701 - accuracy: 0.8499
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3680 - accuracy: 0.8501
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3662 - accuracy: 0.8501
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3646 - accuracy: 0.8512
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3631 - accuracy: 0.8515
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3621 - accuracy: 0.8535
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3607 - accuracy: 0.8546
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3599 - accuracy: 0.8526
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3579 - accuracy: 0.8559
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3575 - accuracy: 0.8556
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3566 - accuracy: 0.8568
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3556 - accuracy: 0.8572
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3547 - accuracy: 0.8580
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3541 - accuracy: 0.8561
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3532 - accuracy: 0.8581
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3527 - accuracy: 0.8590
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3519 - accuracy: 0.8593
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3518 - accuracy: 0.8587
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3506 - accuracy: 0.8608
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3506 - accuracy: 0.8600
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3499 - accuracy: 0.8605
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3494 - accuracy: 0.8602
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3487 - accuracy: 0.8596
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3481 - accuracy: 0.8585
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3476 - accuracy: 0.8596
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3470 - accuracy: 0.8616
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3468 - accuracy: 0.8596
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3464 - accuracy: 0.8584
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3459 - accuracy: 0.8624
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3452 - accuracy: 0.8596
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3452 - accuracy: 0.8608
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3454 - accuracy: 0.8595
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3445 - accuracy: 0.8608
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3444 - accuracy: 0.8610
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3439 - accuracy: 0.8587
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3437 - accuracy: 0.8608
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3430 - accuracy: 0.8597
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3430 - accuracy: 0.8608
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3426 - accuracy: 0.8611
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3427 - accuracy: 0.8585
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3419 - accuracy: 0.8625
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3419 - accuracy: 0.8600
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3414 - accuracy: 0.8608
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3411 - accuracy: 0.8610
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8625
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8600
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8619
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3402 - accuracy: 0.8610
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3400 - accuracy: 0.8621
Epoch 74/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3396 - accuracy: 0.8621
Epoch 75/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3391 - accuracy: 0.8626
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8626
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3393 - accuracy: 0.8602
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3387 - accuracy: 0.8625
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8625
Epoch 80/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8625
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3383 - accuracy: 0.8618
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3383 - accuracy: 0.8615
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3377 - accuracy: 0.8633
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3378 - accuracy: 0.8640
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3371 - accuracy: 0.8611
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3371 - accuracy: 0.8619
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3372 - accuracy: 0.8618
Epoch 88/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3370 - accuracy: 0.8630
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3366 - accuracy: 0.8626
Epoch 90/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3365 - accuracy: 0.8637
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3365 - accuracy: 0.8634
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3362 - accuracy: 0.8605
Epoch 93/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3359 - accuracy: 0.8620
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3359 - accuracy: 0.8614
Epoch 95/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3353 - accuracy: 0.8618
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3356 - accuracy: 0.8615
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3353 - accuracy: 0.8621
Epoch 98/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8615
Epoch 99/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3349 - accuracy: 0.8627
Epoch 100/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3348 - accuracy: 0.8625

In [29]:
y_pred = model.predict(x_test_tf)

63/63 [==============================] - 0s 3ms/step

In [30]:
y_pred

array([[0.2876204 ],
       [0.29697254],
       [0.09403376],
       ...,
       [0.11920234],
       [0.11508795],
       [0.23159342]], dtype=float32)

In [34]:
y_pred = y_pred.argmax(axis=-1)

In [35]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7975